
body{
    font-family: Rubik, Helvetica, sans-serif;
    color:#D7D9D7;
}

/** Header **/

.myNav{

    background-color: #1C1F33;
}

#navcol-1 a{
    color: #D7D9D7;
    font-size: 14px;
    font-weight: 500;
}

#navcol-1 a:hover, .active{
    text-decoration: underline;
    font-weight: 600;
}

.herosec{
    min-height: 200px;
    padding:50px 0;
}

/** Footer **/

.footer{
    padding:80px 0 15px 0;
}

.socialbar{
    float: right;
}
.socialbar a{

    margin-right: 30px;
}

.socials{
    display: flow-root;
}

/** Utilities **/
.bluecolor{
    background-color: #1C1F33;
}

a{
    color:#D7D9D7;

}

a:hover{
    text-decoration: underline;
    font-weight: 600;
    color:#D7D9D7;
}


.greycolor{
    color:#D7D9D7;
}

.whitecolor{
    color:#D7D9D7;
}

.blue-text{
    color: #1C1F33;
}

.showlink{
    color: #1C1F33;
    text-decoration: underline;
}

.title{
    display: inline-flex;
}
.left{
    float: left;
}

/** Work/Case Studies **/

.work-heading{
    font-size: 2rem;
    font-weight: 600;
}
.work-text{
    padding: 100px 30px;

}

.subtext{
    margin-bottom: 5rem;
}
/** Mobile Responsiveness **/
@media only screen and (max-width: 768px) {

/**.img-fluid{
    max-width:75%;
}**/
    
.left{
    float: unset;
}

.socialbar{
    float: unset;
    margin-bottom: 0;
}

.socialbar a{
    margin-right: 10px;
}

.work-heading{
margin-bottom: 2rem;
}
.subtext{
    margin-bottom: 2rem;
    display: none;
    
}

.work-text{
    padding: 20px 20px;

}

.brands{
    padding: 0 50px;
}

}


@media only screen and (max-width: 425px){

    .title{
        display:block;
    }
    .left{
        font-size: .8rem;
    }
}