
body{
    font-family: Rubik, Helvetica, sans-serif;
    color:#D7D9D7;
}

/** Header **/

.myNav{

    background-color: #1C1F33;
}

#navcol-1 a{
    color: #D7D9D7;
    font-size: 14px;
    font-weight: 500;
}

#navcol-1 a:hover, .active{
    text-decoration: underline;
    font-weight: 600;
}

.herosec{
    min-height: 400px;
    padding:100px 0;
}

/** Footer **/

.footer{

    min-height: 400px;
    padding:100px 0px 50px 0px;

}

.socialbar{
    float: right;
}
.socialbar a{

    margin-right: 50px;
}

/** Utilities **/
.bluecolor{
    background-color: #1C1F33;
}

a{
    color:#D7D9D7;

}

a:hover{
    text-decoration: underline;
    font-weight: 600;
    color:#D7D9D7;
}


.greycolor{
    color:#D7D9D7;
}

.whitecolor{
    color:#D7D9D7;
}

.blue-text{
    color: #1C1F33;

}

.left{
    float: left;
}

/** Work/Case Studies **/

.work-heading{
    margin-bottom: 5rem;
}
.work-text{
    padding: 100px 30px;

}

/** Mobile Responsiveness **/
@media only screen and (max-width: 768px) {

/**.img-fluid{
    max-width:75%;
}**/
    
.left{
    float: unset;
}

.socialbar{
    float: unset;
    margin-bottom: 0;
}

.socialbar a{
    margin-right: 10px;
}

.work-heading{
    margin-bottom: 2rem;
}

.work-text{
    padding: 20px 20px;

}

.brands{
    padding: 0 50px;
}

}


